<div class="backdrop" (click)="onCancel()"></div>
<dialog open>
  <h2></h2>
  <form class="sinup" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group row mb-3">
      <label for="fullName" class="col-sm-4 col-form-label">Name :</label>
      <div class="col-sm-7">
        <input
          type="text"
          name="fullName"
          id="fullName"
          formControlName="fullName"
          placeholder="Please Enter Full Name"
          class="form-control"
        />
      </div>
    </div>
    <div class="form-group row mb-3">
      <label for="mobileNumber" class="col-sm-4 col-form-label">
        Mobile Number :
      </label>
      <div class="col-sm-7">
        <input
          type="text"
          name="mobileNumber"
          id="mobileNumber"
          formControlName="mobileNumber"
          maxlength="10"
          minlength="10"
          ng-keypress="onlyDigits($event)"
          placeholder="Enter Mobile Number"
          class="form-control"
          (keypress)="allowNumber($event)"
        />
      </div>
    </div>
    <div class="form-group row mb-3">
      <label for="gender" class="col-sm-4 col-form-label"
        >Select gender :
      </label>
      <div class="col-sm-7">
        <select
          name="gender"
          id="gender"
          formControlName="gender"
          class="form-control"
        >
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="trans">Trans-Gender</option>
        </select>
      </div>
    </div>

    <fieldset class="border p-4 rounded position-relative">
      <legend class="w-auto px-3 mx-auto text-secondary fw-bold legend-center">
        Hall Details
      </legend>
      <div class="form-group row mb-3">
        <label for="hallname" class="col-sm-4 col-form-label"
          >Hall Name :</label
        >
        <div class="col-sm-8">
          <input
            type="text"
            name="hallname"
            id="hallname"
            formControlName="hallname"
            class="form-control"
          />
        </div>
      </div>
      <div class="row mb-3 px-3">
        <p class="col-sm-4">Select hall type :</p>

        <div class="form-check col-sm-3">
          <input
            class="form-check-input"
            type="radio"
            name="hallType"
            formControlName="hallType"
            value="nonac"
            id="radioDefault1"
          />
          <label class="form-check-label" for="radioDefault1">
            Non-Ac Hall
          </label>
        </div>
        <div class="form-check col-sm-3">
          <input
            class="form-check-input"
            type="radio"
            name="hallType"
            formControlName="hallType"
            value="ac"
            id="radioDefault2"
          />
          <label class="form-check-label" for="radioDefault2">
            Ac Convention
          </label>
        </div>
      </div>

      <div class="form-group row mb-3">
        <label for="hallCapacity" class="col-sm-4 col-form-label"
          >Hall Capacity :</label
        >
        <div class="col-sm-8">
          <input
            type="text"
            name="hallCapacity"
            formControlName="hallCapacity"
            id="hallCapacity"
            class="form-control"
          />
        </div>
      </div>
      <div class="form-group row mb-3">
        <label for="parkingArea" class="col-sm-4 col-form-label"
          >Parking Area :
        </label>
        <div class="col-sm-8">
          <input
            type="text"
            name="parkingArea"
            id="parkingArea"
            formControlName="parkingArea"
            class="form-control"
          />
        </div>
      </div>
      <div class="form-group row mb-3">
        <label for="hallAddress" class="col-sm-4"> Address Details : </label>
        <textarea
          class="form-control col-sm-8"
          id="hallAddress"
          formControlName="hallAddress"
          rows="3"
        ></textarea>
      </div>
      <div class="form-group row mb-3">
        <label for="pincode" class="col-sm-4 col-form-label">pincode : </label>
        <div class="col-sm-8">
          <input
            type="text"
            placeholder="Enter pin-code"
            class="form-control"
            maxlength="6"
            minlength="6"
            name="pincode"
            id="pincode"
            formControlName="pincode"
            (keypress)="allowNumber($event)"
          />
        </div>
      </div>
      <div class="form-group row mb-3">
        <label for="pincode" class="col-sm-4 col-form-label"
          >Select hall category :
        </label>
        <div class="col-sm-8">
          <select
            name="hallCategory"
            id="hallCategory"
            formControlName="hallCategory"
            class="form-control"
          >
            <option value=""></option>
            <option value="ac_convention">Ac Convention</option>
            <option value="mini_convention">Mini Ac Convention</option>
            <option value="functionhall">Function Hall</option>
            <option value="mini_functionhall">Ac Convention</option>
            <option value="form_house">Form House</option>
          </select>
        </div>
      </div>
    </fieldset>
    <div class="form-group row">
      <label for="acceptance_file" class="control-label col-sm-4"
        >Upload acceptance document:</label
      >
      <div class="col-sm-8">
        <input
          type="file"
          name="acceptance_file"
          id="acceptance_file"
          accept=".pdf"
          (change)="onChange($event)"
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="hall_image" class="control-label col-sm-4"
        >Upload hall image:</label
      >
      <div class="col-sm-8">
        <input
          type="file"
          name="hall_image"
          accept=".jpg, .png, .jpeg"
          (change)="onChange($event)"
        />
      </div>
    </div>
    <button class="btn btn-primary w-100 mt-3" style="text-align: center">
      submit
    </button>
    @if (form.dirty && form.touched &&form.invalid) {

    <p>invalid form data</p>

    }
  </form>
</dialog>
