.header {
  width: 90%;
  background: #22e599;
  background: linear-gradient(315deg, #22e599, #b81dba);
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: hsl(0, 0%, 100%);
  padding: 10px;
  /* display: flex;
  flex-direction: column; */
  border-radius: 5px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.6);
  margin: 1rem;
  margin-left: 5%;
}
.title {
  text-align: center;
  font-family: "Helvetica", sans-serif;
}

.title h1 {
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title .logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.title p {
  font-size: 1.2rem;
  color: #555;
}
